.header-content {
  width: 800px;
  max-width: 800px;
  margin: 0 auto;
}

.link {
  margin-right: 10px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  color: #ccc;
}

.link-right {
  float: right;
}

.logout {
  font-size: 15px;
  width: 60px;
  height: 25px;
  background: blue;
  color: #ccc;
}
